<form action="/verificare-autentificare" method="POST">
    User: <br>
    <input type="text" id="username" name="username" required><br>
    Password: <br>
    <input type="password" id="user-password" name="user-password" required><br><br>
    <button type="submit">Log In</button>
</form>