<% if (user) { %>
    <div>Welcome, <%= user %></div>
<% }; %>
<% if(!login) {%>
    <a href="http://localhost:6789/autentificare">Log In</a>
    <a href="http://localhost:6789/signUp">Sign Up</a>
<% }; %>