<!DOCTYPE html>
<html lang="en-ro">

    <head>
        <meta charset="UTF-8">
        <title>TVDelight</title>
    </head>

    <body>
        <header>
            <a href="http://localhost:6789/chestionar">Chestionar</a>
        </header>

        <main>
            <%- body %>
        </main>

        <footer>

        </footer>
    </body>

</html>

